*{
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    width: 1480px;
    height: 150px;
    flex-basis: 20%;
    justify-content: space-between;
}

.header h3{
    margin:10px 200px;
}
.right-header{
    display:flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    justify-content: center;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #979da5;
    margin-right: 200px;
    margin-top: 10px;
}

.header-content{
    display: flex;
    background-color: #1F2937;
    width: 1500px;
    height: 350px;
    gap:70px;
}

.header-text{
    color: rgba(253, 253, 253, 0.939);
    margin-left: 200px;
    width:415px;
    padding:0;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
}

.header-text p{
    color: #fbfbfb95;
    padding: 3px;
    font-size: 17px;
}

.header-text, .header-text p{
    display: inline-block;
}

.signup-button button{
    background-color: rgb(50, 102, 192);
    color: white;
    height: 35px;
    width: 120px;
    border: none;
    border-radius: 5px;
   /* margin-left: 10px; */
    
}

.header-img{
    background-color: #979da5;
    width: 620px;
    height:220px;
    color:rgba(253, 253, 253, 0.939)
}

.header-img p{
    padding: 100px 180px;
    text-indent: 10px;
    
    
}
.first-body{
    text-align: center;
    height: 300px;
    width: 1500px;
    background-color: #ffffff;
}

.first-body p{
    padding: 30px;
    font-size: 25px;
    font-weight: 700;
}
.images{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image1{
    height: 120px; 
    width: 120px;
    border: 2px, solid, rgb(47, 130, 220);
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 10px;
}

.text1{
    position: absolute;
    text-align:center;
    font-size: 12px;
    top: 125px;
    padding: 1px;


}

.image2{
    height: 120px; 
    width: 120px;
    border: 2px, solid, rgb(47, 130, 220);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;

}

.text2{
    position: absolute;
    text-align:center;
    font-size: 12px;
    top: 125px;
    padding: 1px;


}

.image3{
    height: 120px; 
    width: 120px;
    border: 2px, solid, rgb(47, 130, 220);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.text3{
    position: absolute;
   padding: 1px;
    font-size: 12px;
    top: 125px;


}

.image4{
    height: 120px; 
    width: 120px;
    border: 2px, solid, rgb(47, 130, 220);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.text4{
    position: absolute;
    text-align:center;
    font-size: 12px;
    top: 125px;
    padding: 1px;



}
